.wrapper{
    position: relative;
    
}
.LeftNav {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1;
}

.RightNav {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1;
}